#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  position: relative;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.form_answer_container{
  display: flex;
  justify-content: space-between;
}

.form_helper-container{
  display: flex;
  justify-content: space-between;
  color: red;
  padding-top: 20px;
  padding-bottom: 5px;
}

.quizcard-container {
  border: 1px solid black;
  border-radius: 15px;
  background-color: #cebbaf;
  padding: 15px;
  margin: 10px;
  -webkit-box-shadow: 6px 9px 15px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 6px 9px 15px 2px rgba(0, 0, 0, 0.32);
}

.editmode-card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.editmode-card-button {
  width: 150px;
}

.editmode-button-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.allquizzes-header-container {
  position: relative;
}

.add-button {
  position: absolute;
  left: 140px;
  top: -120px;
}

.back-button {
  position: absolute;
  left: -150px;
  top: -20px;
}

.allquizzes-header {
  margin: 0;
}

.back-button-form {
  position: absolute;
  left: -150px;
  top: 20px;
}

.buttons-container{
  position: relative;
}

.landing-button {
  margin: 10px;
}
.login-button{
  position: absolute;
  top: -370px;
  right: 5px;
}
.validation-container{
  text-align: start;
font-size: 12px;
}

